.carousel {
  .item {
    height: 480px;
  }

  .main-1 {
    background: url(../img/book_events.jpg) no-repeat center;
    background-size: cover; 
  }

  .main-2 {
  	background: url(../img/book_review.jpg) no-repeat center;
    background-size: cover;
  }
}