/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
.head-title {

  &.book-events {
    background: url(../img/book-events.jpeg) no-repeat center;
    background-size: cover;
    height: 639px;
    position: relative;
    color: #fff;
  }

  &.book-to-screen {
    background: url(../img/book-to-screen.jpg) no-repeat center;
    background-size: cover;
    height: 639px;
    position: relative;
    color: #fff;
  }

  &.book-review {
    background: url(../img/book-review.jpg) no-repeat center;
    background-size: cover;
    height: 639px;
    position: relative;
    color: #fff;
  }

  &.book-video {
    background: url(../img/video.jpg) no-repeat center;
    background-size: cover;
    height: 639px;
    position: relative;
    color: #fff;
  }

  &.internet-based-marketing {
    background: url(../img/internet-marketing.jpg) no-repeat center;
    background-size: cover;
    height: 639px;
    position: relative;
    color: #fff;
  }

  &.print-advertising {
    background: url(../img/print-ad.jpg) no-repeat center;
    background-size: cover;
    height: 639px;
    position: relative;
    color: #fff;
  }

  &.publicity-marketing {
    background: url(../img/publicity.jpg) no-repeat center;
    background-size: cover;
    height: 639px;
    position: relative;
    color: #fff;
  }

  &.publishing-package {
    background: url(../img/publishing.jpg) no-repeat center;
    background-size: cover;
    height: 639px;
    position: relative;
    color: #fff;
  }

  &.about {
    background: url(../img/about.jpg) no-repeat center;
    background-size: cover;
    height: 639px;
    position: relative;
    color: #fff;
  }

  &.contact {
    background: url(../img/contact.jpg) no-repeat center;
    background-size: cover;
    height: 639px;
    position: relative;
    color: #fff;
  }

  h1 {
    color: #80c1ce;
  }

  &:before {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/* Sections Common
--------------------------------*/
.section-title {
  color: #111;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}

.section-description {
  text-align: center;
  margin-bottom: 40px;
}

.section-title-divider {
  width: 50px;
  height: 3px;
  background: $accent-color;
  margin: 0 auto;
  margin-bottom: 20px;
}

/* Get Started Section
--------------------------------*/
#service {
  background: #fff;
  padding: 80px 0;
  background-size: 30%;

  &.book-review-1 {
    background-image: url(../img/rounded/blueink_review.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 20% 50%;
  }

  &.book-review-2 {
    background-image: url(../img/rounded/kirkus_indie.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 20% 50%;
  }
  &.book-review-3 {
    background-image: url(../img/rounded/clarion_review_for_free.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 20% 50%;
  }
  &.book-video-1 {
    background-image: url(../img/rounded/with-voice-cover.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 20% 50%;
  }
  &.book-video-2 {
    background-image: url(../img/rounded/without-voice-cover.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 20% 50%;
  }
  &.publicity-marketing-1 {
    background-image: url(../img/rounded/newswire.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 20% 50%;
  }
  &.publicity-marketing-2 {
    background-image: url(../img/rounded/press-release.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 20% 50%;
  }
  &.publicity-marketing-3 {
    background-image: url(../img/rounded/new-media-publicist.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 20% 50%;
  }
  &.publicity-marketing-4 {
    background-image: url(../img/rounded/newmaker-publicist.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 20% 50%;
  }
  &.publicity-marketing-5 {
    background-image: url(../img/rounded/online-maker-publicist.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 20% 50%;
  }
  &.publicity-marketing-6 {
    background-image: url(../img/rounded/global-publicist.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 20% 50%;
  }
  &.internet-marketing-1 {
    background-image: url(../img/rounded/social-media.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 20% 50%;
  }
  &.internet-marketing-2 {
    background-image: url(../img/rounded/web-design-services.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 20% 50%;
  }
  &.internet-marketing-3 {
    background-image: url(../img/rounded/google-search-marketing.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 20% 50%;
  }
  &.internet-marketing-4 {
    background-image: url(../img/rounded/google-display-network.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 20% 50%;
  }
  &.print-advertising-1 {
    background-image: url(../img/rounded/new-york-review.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 20% 50%;
  }
  &.print-advertising-2 {
    background-image: url(../img/rounded/readers-digest-magazine.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 20% 50%;
  }
  &.print-advertising-3 {
    background-image: url(../img/rounded/publisher-weekly.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 20% 50%;
  }
  &.print-advertising-4 {
    background-image: url(../img/rounded/new-york-times.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 20% 50%;
  }
  &.print-advertising-5 {
    background-image: url(../img/rounded/ingram-catalog-marketing.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 20% 50%;
  }
  &.book-events-1 {
    background-image: url(../img/rounded/book-event.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 20% 50%;
  }
  &.book-to-screen-1 {
    background-image: url(../img/rounded/hollywood-ticket.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 20% 50%;
  }
  &.book-to-screen-2 {
    background-image: url(../img/rounded/hollywood-first-act.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 20% 50%;
  }
  &.book-to-screen-3 {
    background-image: url(../img/rounded/hollywood-directors-cut.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 20% 50%;
  }
  &.book-to-screen-4 {
    background-image: url(../img/rounded/hollywood-producers-pick.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 20% 50%;
  }
  &.publishing-package-1 {
    background-image: url(../img/rounded/basic.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 20% 50%;
  }
  &.publishing-package-2 {
    background-image: url(../img/rounded/professional.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 20% 50%;
  }
  &.publishing-package-3 {
    background-image: url(../img/rounded/premium.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 20% 50%;
  }


  .about-content {
    background: #fff;
  }

  .about-title {
    color: #333;
    font-weight: 700;
    font-size: 28px;
  }

  .about-text {
    line-height: 26px;
    &:last-child {
      margin-bottom: 0;
    }

  }

}

/* Services Section
--------------------------------*/
#services {
  background: linear-gradient(rgba(255, 255 ,255 , .9), rgba(255, 255 ,255 , .9)), url("../img/services-bg.jpg") fixed center center;
  background-size: cover;
  padding: 80px 0 60px 0;

  .service-item {
    margin-bottom: 20px;
  }

  .service-icon {
    float: left;
    background: $accent-color;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    transition: 0.5s;
    border: 4px solid $accent-color;
    overflow: hidden;

    i {
      color: #fff;
      font-size: 24px;
    }

  }

  .service-item:hover .service-icon {
    background: #fff;
    i {
      color: $accent-color;
    }

  }

  .service-title {
    margin-left: 80px;
    font-weight: 700;
    margin-bottom: 15px;
    text-transform: uppercase;
    a {
      color: #111;
    }

  }

  .service-description {
    margin-left: 80px;
    line-height: 24px;
  }

}

/* Subscribe Section
--------------------------------*/
#subscribe {
  background: linear-gradient(rgba(0, 0 ,0 , .6), rgba(0, 0 ,0 , .6)), url(../img/subscribe-bg.jpg) fixed center center;
  background-size: cover;
  padding:  80px 0;

  .subscribe-title {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
  }

  .subscribe-text {
    color: #fff;
  }

  .subscribe-btn-container {
    text-align: center;
    padding-top: 20px;
  }

  .subscribe-btn {
    font-family: $heading-font;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 2px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
    &:hover {
      background: $accent-color;
      border: 2px solid $accent-color;
    }
  }

}

/* Portfolio Section
--------------------------------*/
#portfolio {
  background: #fff;
  padding: 80px 0;

  .portfolio-item {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 260px;
    width: 100%;
    display: table;
    overflow: hidden;
    margin-bottom: 30px;

    .details {
      height: 260px;
      background: #fff;
      display: table-cell;
      vertical-align: middle;
      opacity: 0;
      transition: 0.3s;
      text-align: center;

      h4 {
        font-size: 16px;
        transition: transform 0.3s, opacity 0.3s;
        transform: translate3d(0, -15px, 0);
        font-weight: 700;
        color: $heading-color;
      }

      span {
        display: block;
        color: $text-color;
        font-size: 13px;
        transition: transform 0.3s, opacity 0.3s;
        transform: translate3d(0, 15px, 0);
      }
    }

    &:hover .details {
      opacity: 0.8;

      h4 {
        transform: translate3d(0, 0, 0);
      }
      span {
        transform: translate3d(0, 0, 0);
      }
    }

  }
}

/* Testimonials Section
--------------------------------*/
#testimonials {
  background: #f6f6f6;
  padding: 80px 0;

  .profile {
    text-align: center;

    .pic {
      border-radius:50%;
      border:6px solid #fff;
      margin-bottom: 15px;
      overflow: hidden;
      height: 260px;
      width: 260px;

      img {
        max-width: 100%;
      }

    }

    h4 {
      font-weight: 700;
      color: $accent-color;
      margin-bottom: 5px;
    }

    span {
      color: $heading-color;
    }

  }

  .quote {
    position:relative;
    background:#fff;
    padding: 60px;
    margin-top: 40px;
    font-size: 16px;
    font-style: italic;
    border-radius: 5px;

    b {
      display: inline-block;
      font-size: 22px;
      left: -9px;
      position: relative;
      top: -8px;
    }

    small{
       display: inline-block;
      right: -9px;
      position: relative;
      top:4px;
    }
  }

}

/* Team Section
--------------------------------*/
#team {
  background: #fff;
  padding: 80px 0 60px 0;

  .member {
    text-align: center;
    margin-bottom: 20px;
    .pic {
      margin-bottom: 15px;
      overflow: hidden;
      height: 260px;

      img {
        max-width: 100%;
      }

    }

    h4 {
      font-weight: 700;
      margin-bottom: 2px;
    }

    span {
      font-style: italic;
      display: block;
      font-size: 13px;
    }

    .social {
      margin-top: 15px;
      a {
        color: lighten($text-color, 30%);
        &:hover {
          color: $accent-color;
        }

      }

      i {
        font-size: 18px;
        margin: 0 2px;
      }

    }

  }

}

/* Contact Section
--------------------------------*/
#contact {
  background: #f7f7f7;
  padding: 80px 0;

  .info {
    color: $heading-color;

    i {
      font-size: 32px;
      color: $accent-color;
      float: left;
    }

    p {
      padding: 0 0 10px 50px;
      line-height: 24px;
    }

  }

  .form {

    #sendmessage {
      color: $accent-color;
      border:1px solid $accent-color;
      display:none;
      text-align:center;
      padding:15px;
      font-weight:600;
      margin-bottom:15px;
    }

    #errormessage {
      color: red;
      display:none;
      border:1px solid red;
      text-align:center;
      padding:15px;
      font-weight:600;
      margin-bottom:15px;
    }

    #sendmessage.show, #errormessage.show, .show {
      display:block;
    }

    .validation {
      color: red;
      display:none;
      margin: 0 0 20px;
      font-weight:400;
      font-size:13px;
    }

    input, textarea {
      border-radius: 0;
      box-shadow: none;

    }

    button[type="submit"] {
      background: $accent-color;
      border: 0;
      padding: 10px 24px;
      color: #fff;
      transition: 0.4s;
      &:hover {
        background: lighten($accent-color, 10%);
      }

    }

  }
}
